.more-btn {
    text-decoration: none;
    font-family: 'GothamProMedium', sans-serif;
    font-weight: 400;
    color: $red;
    font-size: 14px;
    text-transform: uppercase;
    padding: 19px 45px;
    border: 2px solid $red;
    margin-top: auto;
    transition: 0.5s;
    &:hover {
        background-color: #ab0000;
        color: $white;
        transition: 0.5s;
    }
}