.order-btn {
    text-decoration: none;
    color: $white;
    font-family: 'GothamProMedium', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    padding: 19px 54px;
    background-color: $red;
    margin-left: 30%;
    transition: 0.3s;
    &:hover {
        background-color: #ab0000;
        transition: 0.3s;
    }
}

.order-btn--margin {
    margin-left: 0;
}