.submit-btn {
    font-family: 'GothamProMedium', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
    padding: 19px 77px;
    background-color: $red;
    border-color: transparent;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        background-color: #ab0000;
        
    }
}