<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tvins</title>
    <link rel="stylesheet" href="./assets/styles/app.min.css">
</head>

<body>
    <header class="header">
        <div class="header_contacts">
            <div class="header_phone-wrap">
                <div class="header_phone-number">
                    <a href="tel:+">(067)641-15-77</a>
                </div>
                <div class="header_phone-number">
                    <a href="tel:+">(067)506-90-05</a>
                </div>
                <div class="header_phone-number">
                    <a href="tel:+">(067)641-15-75</a>
                </div>
                <div class="header_phone-number">
                    <a href="tel:+">(099)619-47-45</a>
                </div>
            </div>
            <div class="header_email">
                <a href="mailto:">office@tvins.com.ua</a>
            </div>
        </div>
        <div class="header_main">
            <a class="logo">
                <img src="#" alt="tvins-logo">
            </a>
            <nav class="nav">
                <ul class="nav_wrap">
                    <li class="nav_item">
                        <a href="#" class="nav_item-link">Главная</a>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_item-link">Продукция</a>
                        <ul class="nav_sub-menu">
                            <li class="nav_sub-item">
                                <a href="#" class="nav_sub-item-link">Marmoroc/Host Rock</a>
                            </li>
                            <li class="nav_sub-item">
                                <a href="#" class="nav_sub-item-link">HostRock Klinker</a>
                            </li>
                            <li class="nav_sub-item">
                                <a href="#" class="nav_sub-item-link">Tvins Fibro Home</a>
                            </li>
                            <li class="nav_sub-item">
                                <a href="#" class="nav_sub-item-link">Tvins Fibro Modern</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_item-link">Фото</a>
                        <ul class="nav_sub-menu">
                            <li class="nav_sub-item">
                                <a href="#" class="nav_sub-item-link">Marmorok</a>
                            </li>
                            <li class="nav_sub-item">
                                <a href="#" class="nav_sub-item-link">HostRock Klinker</a>
                            </li>
                            <li class="nav_sub-item">
                                <a href="#" class="nav_sub-item-link">Tvins Fibro Home</a>
                            </li>
                            <li class="nav_sub-item">
                                <a href="#" class="nav_sub-item-link">Tvins Fibro Modern</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_item-link">Полезная информация</a>
                        <ul class="nav_sub-menu">
                                <li class="nav_sub-item">
                                    <a href="#" class="nav_sub-item-link">Новости</a>
                                </li>
                                <li class="nav_sub-item">
                                    <a href="#" class="nav_sub-item-link">Об энергосбережении</a>
                                </li>
                            </ul>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_item-link">Цены</a>
                    </li>
                    <li class="nav_item">
                        <a href="#" class="nav_item-link">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <section class="slider">
            <ul class="slider_wrap">
                <li class="slider_item">
                    <div class="slider_item-content">
                        <div class="slider_content-wrpap">
                            <div class="slider_content-text">marmoroc</div>
                            <div class="slider_content-text">Вентилируемые фасады</div>
                            <div class="slider_content-text">в Днепре</div>
                        </div>
                        <a href="#" class="order-btn">заказать</a>
                    </div>
                </li>
            </ul>
            <ul class="slider-pagination">
                <li class="slider-pagination_item">*</li>
                <li class="slider-pagination_item">*</li>
                <li class="slider-pagination_item">*</li>
                <li class="slider-pagination_item">*</li>
            </ul>
        </section>

        <section class="products">
            <ul class="products_wrap">
                <li class="products_item">
                    <div class="products_img-wrap">
                        <img src="#" alt="marmoroc">
                    </div>
                    <div class="products_content">
                        <div class="products_content-title">Marmoroc/HostRock</div>
                        <div class="products_content-text">Достоинства вентилируемого фасада Марморок</div>
                    </div>
                    <a href="#" class="more-btn">Подробнее</a>
                </li>

                <li class="products_item">
                    <div class="products_img-wrap">
                        <img src="#" alt="marmoroc">
                    </div>
                    <div class="products_content">
                        <div class="products_content-title">HostRock Klinker</div>
                        <div class="products_content-text">Вентилируемая фасадная система</div>
                    </div>
                    <a href="#" class="more-btn">Подробнее</a>
                </li>

                <li class="products_item">
                    <div class="products_img-wrap">
                        <img src="#" alt="marmoroc">
                    </div>
                    <div class="products_content">
                        <div class="products_content-title">Tvins Fibro Home</div>
                        <div class="products_content-text">Фиброцементный сайдинг Твинс Фибро</div>
                    </div>
                    <a href="#" class="more-btn">Подробнее</a>
                </li>

                <li class="products_item">
                    <div class="products_img-wrap">
                        <img src="#" alt="marmoroc">
                    </div>
                    <div class="products_content">
                        <div class="products_content-title">Tvins Fibro</div>
                        <div class="products_content-text">Фиброцементный фасад и плиты </div>
                    </div>
                    <a href="#" class="more-btn">Подробнее</a>
                </li>
            </ul>
        </section>

        <section class="features">
            <h3 class="features_title">Преимущества работы с нами</h3>
            <ul class="features_wrap">
                <li class="features_item">
                    <div class="features_img-wrap">
                        <div class="features_img">
                            <img src="#" alt="feature">
                        </div>
                    </div>
                    <div class="features_item-text">
                        Гибкая ценовая политика
                    </div>
                </li>

                <li class="features_item">
                    <div class="features_img-wrap">
                        <div class="features_img">
                            <img src="#" alt="feature">
                        </div>
                    </div>
                    <div class="features_item-text">
                        Монтаж обученными сертифицироваными специалистами
                    </div>
                </li>

                <li class="features_item">
                    <div class="features_img-wrap">
                        <div class="features_img">
                            <img src="#" alt="feature">
                        </div>
                    </div>
                    <div class="features_item-text">
                        Гарантия от производителя
                    </div>
                </li>

                <li class="features_item">
                    <div class="features_img-wrap">
                        <div class="features_img">
                            <img src="#" alt="feature">
                        </div>
                    </div>
                    <div class="features_item-text">
                        Высококачественные материалы от производителя
                    </div>
                </li>
            </ul>

            <div class="features_image">
                <img src="#" alt="fasad">
            </div>
        </section>

        <section class="about">
            <div class="about_main-item">
                <div class="about_main-img">
                    <img src="#" alt="foto">
                </div>
                <div class="about_main-content">
                    <h3 class="about_main-title">наша компания</h3>
                    <div class="about_main-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quidem magni odio et obcaecati illo sint nobis maiores consectetur
                        hic, inventore rerum fuga aliquam modi eligendi, ullam repudiandae! Molestiae, architecto!
                    </div>
                </div>
            </div>
        </section>

        <section class="form-section">
            <h4 class="form-section_title">остались вопросы?</h4>
            <p class="form-section_text">Оставьте ваши данные и мы свяжемся с вами в ближайшее время</p>
            <form action="#" method="post" class="form">
                <div class="form_input-wrap">
                    <input type="text" placeholder="Имя">
                    <input type="text" placeholder="Телефон">
                    <input type="text" placeholder="Email">
                </div>
                <button type="submit" class="submit-btn">отправить</button>
            </form>
            <p class="form-section_offer">Мы гарантируем конфиденциальность ваших данных и не передадим их третим лицам</p>
        </section>

        <section class="review">
            <h4 class="review_title">отзывы наших клиентов</h4>
            <div class="review_slider-wrap">
                <ul class="review_slider">
                    <li class="review_slider-item">
                        <div class="review_slider-content">
                            <div class="review_slider-title">Василий Бортников</div>
                            <p class="review_slider-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, laboriosam iste libero atque sed repellendus maiores,
                                minima itaque saepe totam magnam dicta deserunt incidunt ab! Repudiandae fugit ut delectus
                                dolores.
                            </p>
                        </div>
                        <div class="review_slider-img">
                            <img src="#" alt="review-foto">
                        </div>
                    </li>

                    <li class="review_slider-item">
                        <div class="review_slider-content">
                            <div class="review_slider-title">Иван Игнатьев</div>
                            <p class="review_slider-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, laboriosam iste libero atque sed repellendus maiores,
                                minima itaque saepe totam magnam dicta deserunt incidunt ab! Repudiandae fugit ut delectus
                                dolores.
                            </p>
                        </div>
                        <div class="review_slider-img">
                            <img src="#" alt="review-foto">
                        </div>
                    </li>

                    <li class="review_slider-item">
                        <div class="review_slider-content">
                            <div class="review_slider-title">Николай Усович</div>
                            <p class="review_slider-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, laboriosam iste libero atque sed repellendus maiores,
                                minima itaque saepe totam magnam dicta deserunt incidunt ab! Repudiandae fugit ut delectus
                                dolores.
                            </p>
                        </div>
                        <div class="review_slider-img">
                            <img src="#" alt="review-foto">
                        </div>
                    </li>
                </ul>
                <ul class="slider-pagination">
                    <li class="slider-pagination_item">*</li>
                    <li class="slider-pagination_item">*</li>
                    <li class="slider-pagination_item">*</li>
                    <li class="slider-pagination_item">*</li>
                </ul>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer_left">
            <a class="logo">
                <img src="#" alt="tvins-logo">
            </a>
            <p class="footer_left-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore quos consequuntur reprehenderit quisquam hic error sint!
                Assumenda repudiandae, incidunt rerum, deleniti et rem aut numquam, praesentium magni at nobis fugiat!
            </p>
        </div>

        <div class="footer_center">
            <div class="contacts">
                <div class="contacts_title">наши контакты</div>
                <ul class="contacts_item-wrap">
                    <li class="contacts_item">
                        <div>
                            <a href="tel:+">(067)641-15-77</a>
                        </div>
                        <div>
                            <a href="tel:+">(067)641-15-75</a>
                        </div>
                        <div>
                            <a href="tel:+">(099)619-47-45</a>
                        </div>
                    </li>
                    <li class="contacts_item">
                        <div>
                            <a href="mailto:">E-mail: office@tvins.com.ua</a>
                        </div>
                    </li>
                    <li class="contacts_item">
                        <div>г.Днепропетровск, ул.Артельная, 10</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer_right">
            <div class="social">
                <div class="social_title">мы в соц. сетях</div>
                <ul class="social_item-wrap">
                    <li class="social_item">
                        <a href="#" class="social_item-link">facebook.com/tvins</a>
                    </li>
                    <li class="social_item">
                        <a href="#" class="social_item-link">instagram.com/tvins</a>
                    </li>
                    <li class="social_item">
                        <a href="#" class="social_item-link">youtube.com/tvins</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer_copiright">2018 &#169; Твинс Строй. Все права защищены.</div>
    </footer>
</body>

</html>